@font-face {
  font-family: Calibri;
  src: local(Calibri),
           url('calibri-webfont.woff') format('woff'),
           url('calibri-webfont.ttf') format('truetype'),
           url('calibri-webfont.eot'),
           url('calibri-webfont.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: Calibri;
  font-weight: bold;
  src: local('Calibri Bold'),
           url('calibri_bold-webfont.woff') format('woff'),
           url('calibri_bold-webfont.ttf') format('truetype'),
           url('calibri_bold-webfont.eot'),
           url('calibri_bold-webfont.eot?#iefix') format('embedded-opentype');
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family:Calibri, Arial, Helvetica, sans-serif;
  font-size: 14pt;
}
table.alertframe {
  width: 700px;
  border: 1px solid #000000;
  padding: 9px;
  background: #fee;
  margin-bottom: 13px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
table.mainframe {
  width: 700px;
  border: 1px solid #000000;
  padding: 9px;
  background: #eee;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
table.statusframe {
  width: 700px;
  border: 1px solid #000000;
  padding: 9px 9px 9px 9px;
  margin-top: 15px;
  background: #eee;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  font-size:11pt;
}
table.updateframe {
  width: 700px;
  border: 1px solid #000000;
  padding: 9px 9px 9px 9px;
  background: #eee;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

table.statusframe tr td {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
table.corpustable {
  font-size:11pt;
}
#public-corpora {
  font-size:11pt;
}


.keyvaluetable tr > td:first-child { font-weight: bold; } /* first column */

h1 {
  margin-top: -2px;
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 15pt;
}

progress,
progress[role] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}
progress[role] strong {
	display: none;
}
progress {
    color: #000080;
}
progress::-moz-progress-bar { 
    background: #000080;	
}
progress::-webkit-progress-value {
    background: #000080;
}
progress[aria-valuenow]:before  {
    background: #000080;
}
