body {
  font-family:Calibri, Arial, Helvetica, sans-serif;
}
.meter {
  height:15px;
  width:15%;
  float:left;
  margin:0 15px 5px 0 !important;
  border:1px solid #616160;
  background:#fff;
}
.todo-bar{ background-color: #d0d1d1; }
.done-bar{ background-color: #09beec; }
