body {
  background: #fff;
  font-family:Calibri, Arial, Helvetica, sans-serif;
}
table.mainframe {
  width: 500px;
  border: 1px solid #000000;
  padding: 9px;
  background: #eee;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

table.corpustable {
  font-size:9pt;
}

h1 {
  margin-top: -2px;
  font-size: 16pt;
}

.meter {
  height:15px;
  width:15%;
  float:left;
  margin:0 15px 5px 0 !important;
  border:1px solid #616160;
  background:#fff;
}
.todo-bar{ background-color: #d0d1d1; }
.done-bar{ background-color: #09beec; }
